html{
    background-color:rgb(141, 221, 247);
    text-align: center;
    font-family: 'Times New Roman', serif;
    
}

a{
    text-decoration: none;
    color: black;
}
a:hover, button:hover {
    background-color: rgb(179, 178, 178);
  }

button:hover{
    background-color: rgb(179, 178, 178);
}

